.switchingTabs {
  height: 45px;
  background-color: white;
  // border-radius: 20px;
  padding: 4px;
  .tabItems {
    display: flex;
    align-items: center;
    height: 35px;
    position: relative;
    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: color ease 0.3s;
      &.active {
        color: white;
      }
    }
    .movingBg {
      height: 35px;
      width: 100px;
      // border-radius: 15px;
      background: var(--pink);
      position: absolute;
      left: 0;
      transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) .35s;
    }
  }
}
