.pageNotFound {
  height: 700px;
  padding-top: 200px;
  .contentWrapper {
    text-align: center;
    color: var(--pink);
    display: flex;
    flex-direction: column;
    .bigText {
      font-size: 150px;
      font-weight: 700;
    }
    .heading {
      max-width: 800px;
      h2 {
        font-size: 22px;
      }
    }
    .home-btn {
      margin-top: 40px;
      transition: all 0.3s ease;
      a {
        text-decoration: none;
        background-color: var(--pink);
        color: #fff;
        padding: 10px 16px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600;
      }
      &:hover {
        opacity: 0.8;
        // scale: 1.05;
      }
    }
  }
}
