@import "../../mixins.scss";
.explorePage {
  min-height: 700px;
  padding-top: 100px;
  .resultNotFound {
    font-size: 24px;
    color: #FFF;
  }
  .pageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-direction: column;
    @include md {
      flex-direction: row;
    }
  }
  .pageTitle {
    font-size: 24px;
    line-height: 34px;
    color: white;
    margin-bottom: 20px;
    @include md {
      margin-bottom: 0;
    }
  }
  .filters {
    display: flex;
    gap: 10px;
    flex-direction: column;
    @include md {
      flex-direction: row;
    }
    .react-select-container {
      &.genresDD {
        width: 80%;
        @include md {
          max-width: 500px;
          min-width: 250px;
        }
      }
      &.sortbyDD {
        width: 80%;
        flex-shrink: 0;
        @include md {
          width: 250px;
        }
      }
      .react-select__control {
        border: 0;
        outline: 0;
        box-shadow: none;
        background-color: var(--pink);
        border-radius: 20px;
        .react-select__value-container {
          .react-select__placeholder,
          .react-select__input-container {
            color: white;
            margin: 0 10px;
          }
        }
        .react-select__single-value {
          color: rgb(255, 255, 255);
        }
        .react-select__multi-value {
          background-color: var(--black3);
          border-radius: 10px;
          .react-select__multi-value__label {
            color: white;
          }
          .react-select__multi-value__remove {
            background-color: transparent;
            color: white;
            cursor: pointer;
            &:hover {
              color: var(--pink);
            }
          }
        }
      }
      .react-select__menu {
        top: 40px;
        margin: 0;
        padding: 0;
      }
    }
  }
  .content {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 50px;
    @include md {
      gap: 20px;
    }
    .movieCard {
      .posterBlock {
        margin-bottom: 30px;
      }
    }
  }
}
