@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
:root {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // --black: #212426;
  // --black: #050206;
  // --black: #191919;
  // --black: #121212;
  // --black: #0F0F0F;

  // --black: #0e1217;

  --black: #1f1f1f;
  --black2: #212426;
  --black3: #0f0f0f;
  --black-lighter: #1c4b91;
  --black-light: #173d77;
  --pink: #dc1a28;
  --orange: #ffe923;
  --gradient: linear-gradient(to right, #dc1a28 20%, #ffe923 100%);

  // --black: #04152d;
  // --black: #212426;
  // --black: #121212;
  // --black2: #041226;
  // --black3: #020c1b;
  // --black-lighter: #1c4b91;
  // --black-light: #173d77;
  // --pink: #da2f68;
  // --orange: #f89e00;
  // --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  // background-color: #121212;
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #636363d4;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#2e2d2dd4, 0) 0,
      rgba(#2e2d2dd4, 0.2) 20%,
      rgba(#2e2d2dd4, 0.5) 60%,
      rgba(#2e2d2dd4, 0)
    );
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
